body 
{
    font-family:punctuation,"PingFangSC-Regular","Microsoft Yahei","sans-serif";
    color:Black;
    font-size:12px;
    text-align:center;
    background-image:url("image/72019_top.jpg");
    background-repeat:repeat;
}
body,div,ul,li,a,span,img,i,input,h1,h5,p
{
    padding-top:0;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    }
 ul
 {
    list-style-type:none;
    list-style-position:outside;
    list-style-image:none; 
     }
.QZ_Toolbar
{
    top:0;
    width:100%;
    height:41px;
    position:fixed;
    z-index:500;
    color:#bababa;
    background-color:rgb(31, 31, 31);
    }
 .top_container
 {
    width:980px;
    height:41px;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:0; 
    position:relative;
     }
 .logo1
 {
     width:90px;
     height:41px;
     overflow:hidden;
     line-height:123px;
     float:left;
     background-image:url(image/icenter-common_32-man151103110944.png);
     background-position:0px 0px;
     }
  .top_nav
{
    float:left;
    padding-left:10px;
    }
.nav_list
{
    display:inline-block;
    position:relative;
}
.nav_list_inner a
{
    line-height:40px;
    padding-top:0;
    padding-right:10px;
    padding-bottom:0;
    padding-left:10px;
    display:block;
    text-decoration:none;
    margin-top:1px;
    cursor:pointer;
    color:#fff;
    font-family:punctuation,微软雅黑,Tohoma;
    }
.tubiao
{
    font-size:0;
    display:block;
    overflow:hidden;
    margin-right:5px;
    position:relative;
    top:11px;
    width:16px;
    height:16px;
    float:left;
    }
#center
{
    background-image:url(image/35_32-man150806163025.png);
    background-position:-740px -150px;
    }
 #Mainpage
 {
    background-image:url(image/35_32-man150806163025.png);
    background-position:-765px 0;
     }
 #MyFriends
 {
    background-image:url(image/35_32-man150806163025.png);
    background-position:-740px -175px;
     }
 #Appstore
 {
    background-image:url(image/35_32-man150806163025.png);
    background-position:-765px -25px;
     }
 #Mall
 {
    background-image:url(image/35_32-man150806163025.png);
    background-position:-765px -50px;
     }
 .user_info_top
 {
    line-height:41px;
    float:right;
    padding-right:10px;
    display:inline-block;
     }
 .user_home
 {
    height:41px;
    text-decoration:none; 
    display:inline-block;
    float:left;
     }  
 .user_avatar
 {
    width:24px;
    height:24px;
    padding-right:8px;
    top:8px;
    position:relative;
    float:left;
     }
 .user_name
 {
    text-overflow:ellipsis;
    max-width:50px;
    color:White;
    display:inline-block;
    padding-right:10px;
     }
 .logout_new
 {
    width:26px;
    height:40px;
    display:inline-block; 
    float:left;
    text-decoration:none;
     }
.logout
 {  width:16px;
    height:16px;
    background-image:url(image/35_32-man150806163025.png);
    background-position:-765px -175px;
     }
 .user_setting
 {  
     height:41px;
     width:26px;
     float:left;
     text-decoration:none;
     }
 .setting
 {
     width:16px;
     height:16px;
     background-image:url(image/35_32-man150806163025.png);
     background-position:-790px 0px;
     }
 .vip-setting
 {
     height:41px;
     width:26px;
     float:left;
     text-decoration:none;
     }
 .vip
 {
     width:22px;
     height:19px;
     float:left;
     margin-top:12px;
     margin-left:2px;
     background-image:url(image/qzone-vip.gif);
      }
 .search_box
 {
     width:130px;
     height:25px;
     display:inline-block;
     float:right;
     position:relative;
     margin-top:8px;
     margin-right:15px;
     background-color:Gray;
     }
 .search_input
 {
     width:100px;
     height:20px;
     background-color:Gray;
     font-size:10px;
     margin-left:3px;
     margin-top:2px;
     float:left;
     border:0;
     display:inline-block;
     }
 .search_button
 {
     width:25px;
     height:24px;
     float:right;
     display:inline-block;
     text-decoration:none;
     }
 .search
 {
     margin-top:5px;
     margin-left:2px;
     background-image:url(image/35_32-man150806163025.png);
     background-position:-388px -75px;
     display:inline-block;
    }
 .music_container
 {
     height:40px;
     width:80px;
     float:right;
     margin-right:5px;
     margin-top:1px;  
     }
 .music_panel
 {
     height:20px;
     width:50px;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:15px;
     margin-right:15px;
     }
 .music_play
 {
     height:20px;
     width:22px;
     float:left;
     margin-right:1px; 
     background-color:rgb(48, 48, 48);
     }
 .i_music_play
 {
     height:16px;
     width:16px;
     background-image:url(image/35_32-man150806163025.png);
     background-position:-765px -125px;
     float:left;
     position:relative;
     top:2px;
     left:3px; 
     }
 .music_dynamic
 {
     height:20px;
     width:27px;
     float:left;
     background-color:rgb(48, 48, 48);
     }
 .Smusic_dynamic
 {
     height:16px;
     width:16px;
     background-image:url(image/35_32-man150806163025.png);
     background-position:-765px -150px;
     float:left;
     position:relative; 
     left:5px;
     }
 .lay_head
 {
     top:41px;
     width:900px;
     height:220px;
     margin-bottom:0;
     margin-left:auto;
     margin-right:auto;
     margin-top:0;
     position:relative;
     }
  .user_info
  {
     position:absolute;
     left:0;
     top:12px;
     background-color:White;   
      }
  .title
  {
     color:#26709a;
     text-align:left;
     margin-bottom:5px;
     height:32px;
      }
  .QZuser_name
  {
     float:left;
      }
  .qzone_lv
  {
     background-image:url(image/qz_qzone_lv-man150910153127.png);
     background-position:-36px 0;
     height:16px;
     width:16px;
     position:relative;
     display:inline-block;
     float:left;
     left:35px;
     top:8px;
      }
  
  .number
  {
     width:21px;
     height:7px;
     display:inline-block;
     position:relative;
     float:left;
     left:32px;
     top:18px;
      }
  .d2
  {
     background-image:url(image/qz_qzone_lv-man150910153127.png);
     background-position:-144px 0;
     width:8px;
     height:7px;
     display:block;
     float:left;
      }
  .d5
  {
     background-image:url(image/qz_qzone_lv-man150910153127.png);
     background-position:-198px 0; 
     width:8px;
     height:7px;
     margin-left:5px;
     display:block;
     float:left;
      }
  .url
  {
     color:#26709a;
     text-decoration:none;
      }
  .daohanglan
  {
     display:inline-block;
     position:absolute;
     left:0;
     top:188px;
      }
  .menu_item
  {
     float:left;
     margin-right:10px;
      }
  .menu_item a
  {
     color:#26709a;
     text-decoration:none;
     font-size:14px; 
     font-weight:bold;
      }
  .profile-hd-actions
  {
     height:32px;
     width:70px;
     position:absolute;
     right:0;
     top:50px;
     background-color:Gray;
     border-radius:16px;
      }
  .lnk-left
  {
     text-decoration:none; 
      }
  .btn_like
  {
     width:14px;
     height:14px;
     float:left;
     background-image:url(image/icenter-common_32-man151103110944.png);
     background-position:-234px 0px;
     position:relative;
     left:10px;
     top:9px; 
      }  
  .txt
  {
     color:White;
     position:relative;
     left:5px;
     top:8px; 
      }
  .weather_module
  {
     position:absolute; 
      }
  .other_info
  {
      float:right;
      height:56px;
      width:60px;
      color:White;
      }
  .city
  {
      font-size:14px;
      display:inline-block;
      float:left;
      position:relative;
      top:10px;
      }
  .date
  {
      font-size:14px;
      display:inline-block;
      float:left;
      position:relative;
      top:10px;
      }
  .weather_temperature
  {
      float:right;
      height:56px;
      width:60px;
      color:White;
      position:relative;
     
      }
  .temperature_num
  {
      font-size:36px;
      float:left;
      position:relative;
      }
  .teperature_unit
  {
     font-size:22px;
     float:right; 
     margin-right:5px;
      }
  .lay_lace_m
  {
     top:41px;
     width:1000px;
     position:relative;
     min-height:300px; 
     margin-bottom:0;
     margin-left:auto;
     margin-right:auto;
     margin-top:0;
      }
  .page_home_normal
  {
     width:900px;
     min-height:500px;
     margin-bottom:0;
     margin-left:auto;
     margin-right:auto;
     margin-top:0;
      }
  .lay_col_left
  {
     position:relative;
     float:left;
     width:200px;
     margin-right:12px;
     background-color:White;
      }
  .shuoshuo
  {
     width:200px;
     margin-bottom:10px;
     border:2px solid rgb(242, 242, 242);
      }
  .shuoshuo_title
  {
      width:200px;
      height:25px;
      background-color:rgb(242, 242, 242);
      }
  .QZshuoshuo
  {
     font-size:12px;
     float:left;
     font-weight:bold; 
     margin-left:5px; 
     color:#26709a;
     text-decoration:none;
      }
  .weibo_user_info
  {
     height:50px;
     width:180px;
     padding-bottom:10px;
     padding-top:10px;
     padding-left:10px;
     padding-right:10px;
     border-bottom:2px solid rgb(242, 242, 242);
      }
  .wb_avatar
  {
     float:left; 
      }
  .tx_info
  {
     width:130px;
     height:50px;
     float:left;
      }
  .tx_info p
  {
      margin-top:5px;
      margin-left:10px; 
      float:left;
      text-align:left;
      }
  .shuoshuo_user_name a
  {
      text-decoration:none;
      color:#5d7895;
      font-size:14px;
      font-weight:bold;
      }
  .num
  {
      color:#5d7895;
      }
  .shuoshuo_list
  {
      width:180px;
      margin-top:10px;
      margin-left:10px;
      margin-right:10px;
      }
  .bbor3
  {
      padding-top:5px;
      padding-bottom:10px;
      border-bottom:1px solid rgb(242, 242, 242);
      text-align:left;
      position:relative;
      }
  .bor3
  {
      padding:3px;
      display:inline-block;
      border:2px solid rgb(242, 242, 242);
      }
  .feed_op a
  {
      text-decoration:none;
      color:#5d7895;
      margin-left:5px;
      }
  .leave_message
  {
      width:200px;
      margin-bottom:10px;
      border:2px solid rgb(242, 242, 242);
      }
  .leave_message_title
  {
      width:200px;
      height:25px;
      background-color:rgb(242, 242, 242);
      }
  .QZleave_message
  {
      font-size:12px;
      float:left;
      font-weight:bold; 
      margin-left:5px; 
      color:#26709a;
      text-decoration:none;
      }
  .fn_visitorsBook
  {
      width:180px;
      margin-top:10px;
      margin-left:10px;
      margin-right:10px;
      }
  .item_form
  {
      margin-top:20px;
      margin-bottom:20px;
      padding-bottom:10px;
      border-bottom:2px solid rgb(242, 242, 242);
      }
  .textinput
  {
      height:50px;
      }
  .visitorName
  {
      margin-bottom:5px;
      display:inline-block;
      }
  .visitorName a
  {
      text-decoration:none;
      color:#5d7895;
      margin-left:5px;
      }
  .lay_col_gridlet_2
  {
      position:relative;
      float:left;
      width:670px;
      background-color:White;
      }
  .rizhi
  {
      width:670px;
      margin-bottom:10px;
      border:2px solid rgb(242, 242, 242);
      }
  .rizhi_title
  {
      height:25px;
      background-color:rgb(242, 242, 242);
      }
   .rizhi_title a
   {
      font-size:12px;
      float:left;
      font-weight:bold; 
      margin-left:5px; 
      color:#26709a;
      text-decoration:none;
       }
   .rizhi_Container
   {
      width:650px;
      margin-top:30px;
      margin-left:10px;
      margin-right:10px;
       }
   .list_clearfix li
   {
      height:25px;
       }
   .textoverflow
   {
      text-decoration:none;
      width:320px;
      overflow:hidden;
      float:left; 
      display:block;
      text-align:left;
       }
   .c_tx3
   {
      float:right;
      width:100px;  
       }